
@{
    ViewData["Title"] = "Aww Snap !!!";
}

<div class="row">
    <div class="col-sm-12">
        <div class="wrapper-page text-center">
            <img src="assets/images/logo_dark.png" alt="" height="30">
            <br/>
            <img src="~/images/icons/globe.svg" alt="globe.svg" height="60" class="m-t-50">
            <h1 style="font-size: 78px;" class="text-uppercase text-dark m-t-30">500</h1>
            <p class="text-muted m-t-30">Why not try refreshing your page? or you can contact <a href="page-500.html#" class="text-primary">support</a></p>
            <a class="btn btn-info waves-effect waves-light m-t-20" href="/home"> Return Home</a>
        </div>
    </div><!-- end col -->
</div>
