@model List<CMS.Core.Entity.Setup>

@{
    var setups = Model;
    var facebookUrl = setups.Where(a => a.key == CMS.Web.Models.SetupKeys.getFacebookKey).SingleOrDefault()?.value;
}
<div class="col-md-4 col-sm-12">
    <!-- Categories Starts -->
    <div class="sblock-1">
        <h5 class="sub-heading-2 text-xs-center">Our Facebook Page</h5>
        <div class="fb-page"
             data-href="@facebookUrl"
             data-width="340"
             data-hide-cover="false"
             data-show-facepile="true"></div>
    </div>
</div>

