
@{
    if (TempData["message"] != null)
    {
        CMS.Web.Helpers.Alert alert = Newtonsoft.Json.JsonConvert.DeserializeObject<CMS.Web.Helpers.Alert>(TempData["message"].ToString());
        if (alert.message_type == CMS.Web.Helpers.messageType.success)
        {
            <div class="alert alert-success fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="mdi mdi-check-all"></i>
                <strong>@alert.message</strong>
            </div>
            <br />
        }
        else
        {
            <div class="alert alert-danger fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="mdi mdi-block-helper"></i>
                <strong>@alert.message</strong>
            </div>
            <br />
        }
    };
}
